* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}

body {
    width: 980px;
    margin: auto;
    background-color:beige;
}

form label {
    width: 100px;
    display:block
}
form input {
    margin-top: 5px;
}
    